<style>
#add-conf {
  float: right;
}

@media only screen and (max-width: 600px) {
  #add-conf {
    display: none;
  }
}
</style>

<div id="add-conf" class="button button-dark"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScQdHLj1yj-KaCiLvW8eDxjuPkhJrtN56Mv3w-1K_AjzNLdfw/viewform?usp=sf_link">Add a conference</a></div>
