<style>
#add-conf {
  float: right;
}

@media only screen and (max-width: 600px) {
  #add-conf {
    display: none;
  }
}
</style>

<div id="add-conf" class="button"><a target="_blank" href="https://github.com/gcomte/21tribe/tree/main?tab=readme-ov-file#add-events">Add a conference</a></div>
