<style>
.button {
  float: right;
  text-align: right;
  display: inline-block;
  background-color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #000;
}

.button a:hover{
  text-decoration: none;
}
</style>

<div id="add-conf" class="button"><a target="_blank" href="https://github.com/gcomte/21tribe/tree/main?tab=readme-ov-file#21-tribe">Add a conference</a></div>
