<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Conferences{% endblock %}</title>

<style>
/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Basic styling for the main content */
main {
  padding: 20px;
}

/* Styling for links */
a {
  font-weight: bold;
  color: #fe904d;
  text-decoration: none;
}

/* Hover effect for links */
a:hover {
  text-decoration: underline;
}
</style>
</head>

<body>

  <header>
	  {% include 'header.njk' %}
  </header>

  <main>
	  {% include 'conference-table.njk' %}
  </main>

  {% include 'footer.njk' %}

</body>

</html>

