<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}21 TRIBE{% endblock %}</title>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

a {
  font-weight: bold;
  color: #fe904d;
  text-decoration: none;
}

@media only screen and (min-width: 601px) {
  a:hover {
    text-decoration: underline;
  }
}
</style>
</head>

<body>

  <header>
	  {% include 'header.njk' %}
  </header>

  <main>
	  {% include 'conference-table.njk' %}
  </main>

  {% include 'footer.njk' %}

</body>

</html>

