<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="https://bitcoin.org/favicon.png?1706112497">
<link rel="apple-touch-icon-precomposed" href="https://bitcoin.org/img/icons/logo_ios.png?1706112497"/>

  <title>{% block title %}21 TRIBE{% endblock %}</title>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 0px 20px 20px 20px;
}

a {
  font-weight: bold;
  color: #fe904d;
  text-decoration: none;
}

h1 {
  color: #333;
  padding: 16px;
  font-size: 30px;
}

h4 {
  padding: 14px 16px 10px 16px;
}

.button {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-dark {
  color: #fe904d;
  background-color: #333;
  border: 1px solid transparent;
}

.button:hover {
  border: 1px solid #fe904d !important;
}

.button a:hover{
  text-decoration: none;
}

.button-white {
  background: #fff;
}

.button-white-with-border {
  background: #fff;
  border: 1px solid #333;
}

.filter-disabled {
  background: #aaa !important;
  color: white !important;
  border: 1px solid transparent !important;
}


.button-small {
  padding: 5px 10px !important;
}

@media only screen and (min-width: 601px) {
  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}

</style>
{% include 'google-analytics.njk' %}
</head>

<body>

  {% include 'header.njk' %}

  <main>
	  {% include 'add-event.njk' %}
	  <h1>Upcoming Conferences</h1>
	  {% include 'conference-table.njk' %}
  </main>

  {% include 'footer.njk' %}

</body>

</html>
